.container{
    &-yaplus{
        display: flex;
        &:hover{
            &>.widget{
                cursor: pointer;
                margin-right: 50px;
            }
            &>.marker{
                cursor: pointer;
                opacity: 1;
            }
        }
    }
}