.container{
    &-yaplus{
        .containerLoginSettings(25);
    }
    &-covidstatus{
        .containerLoginSettings(25);
    }
    &-weather{
        .containerLoginSettings(25);
    }
    &-weatherfull{
        .containerLoginSettings(25);
    }
    &-train{
        .containerLoginSettings(25);
        &:hover{
            #marker-changeTrain{
                opacity: .3;
                &:hover{
                    cursor: pointer;
                    opacity:1;
                }
            }
        }
    }
}