.marker{
    &-geolocation{
        &__icon{
            width:15px;
            height:15px;
        }
    }

    &-notify{
        display: flex;
        margin-top: -7px;
        padding:0;
        box-sizing: border-box;
        &__icon{
            width:36px;
            height:36px;
            opacity: .3;
            transition:.2s;
            &:hover{
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    &-covidstatus{
        &__icon{
            width: 40px;
            height: 15px;
        }
    }

    &-covidLoginChanger{
        width: 4px;
        height: 4px;
        opacity: .25;
        border-radius: 100%;
        background: currentColor;
        transition: opacity .15s ease-in-out;
        &:hover{
            opacity: .8;
        }
        ._active{
            opacity: .8;
        }
    }

    &-newsconenticon{
        margin-top: 2px;
    }

    &-close{
        transition:.5s;
        position:absolute;
        right: 2px;
        width: 24px;
        height: 24px;
        background-image: url("https://yastatic.net/s3/home-static/_/o/y/erkqQ5P80bv3XwdxBDlYb5shs.svg");
        background-size: cover;
        opacity: 0;
    }
    &-settings{
        transition:.5s;
        width: 24px;
        height: 24px;
        background-image: url("https://yastatic.net/s3/home-static/_/k/8/gsSjWTalZ0Zl-yefsGisz0YJA.svg");
        background-size: cover;
        opacity: 1;
        &:hover{
            cursor: pointer;
        }
        &._settingsWidget{
            position:absolute;
            right: 2px;
            opacity: 0;
        }
        &._settingsNews{
            display: flex;
            align-self: center;
            width: 16px;
            height: 16px;
            opacity: 0;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E ");
            &:hover{
                cursor: pointer;
            }
        }
        &._settingsrate{
            opacity: .5;
            &:hover{
                opacity: .7;
            }
        }
    }


    &-changeTrain{
        transition:.2s;
        width: 24px;
        height: 24px;
        opacity: 0;
        background: url("https://yastatic.net/s3/home-static/_/r/J/SlrscamjPu-VVgfX3W1z6Hk5s.svg") no-repeat;
        background-size: cover;
    }

    &-shop{
        display: flex;
        align-items: center;
        width:24px;
        height:24px;
        opacity: .3;
        transition:.2s;
        background:url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.68 5.55H6.48l-.46-1.68a2.2 2.2 0 0 0-2.13-1.62H1.43a1.1 1.1 0 1 0 0 2.2H3.9l2.82 10.33a2.2 2.2 0 0 0 2.48 1.6l11.3-1.9a2.2 2.2 0 0 0 1.84-2.16V7.2c0-.91-.74-1.65-1.65-1.65zM5.83 22.05a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4zm11 0a2.2 2.2 0 1 0 0-4.4 2.2 2.2 0 0 0 0 4.4z' fill='%23000'/%3E%3C/svg%3E") no-repeat;
        background-size: cover;
        &:hover{
            cursor: pointer;
            opacity: .4;
        }
    }

    &-apps{
        transition: .2s;
        width:44px;
        height:44px;
        &._yapromo{
            position: relative;
            background: url("https://yastatic.net/s3/home/services/block/uslugi_new_v2.svg") no-repeat;
            background-size: cover;
        }
        &._yamarket{
            position: relative;
            background: url("https://yastatic.net/s3/home/services/block/market_4.svg") no-repeat;
            background-size: cover;
        }
        &._yavideo{
            position: relative;
            background: url("https://yastatic.net/s3/home/services/block/video.svg") no-repeat;
            background-size: cover;
        }
        &._yaimages{
            position: relative;
            background: url("https://yastatic.net/s3/home/services/block/kartinki.svg") no-repeat;
            background-size: cover;
        }
        &._yanews{
            position: relative;
            background: url("https://yastatic.net/s3/home/services/block/news.svg") no-repeat;
            background-size: cover;
        }
        &._yamaps{
            position: relative;
            background: url("https://yastatic.net/s3/home/services/block/maps.svg") no-repeat;
            background-size: cover;
        }
        &._yatranslate{
            position: relative;
            background: url("https://yastatic.net/s3/home/services/block/translate.svg") no-repeat;
            background-size: cover;
        }
        &._yamusic{
            position: relative;
            background: url("https://yastatic.net/s3/home/services/block/music2.svg") no-repeat;
            background-size: cover;
        }
        &._yaprogramm{
            position: relative;
            background: url("https://yastatic.net/s3/home/services/block/tv.svg") no-repeat;
            background-size: cover;
        }
        &._yamore{
            position: relative;
            background: url("../../img/services-other.PNG") no-repeat;
            background-size: cover;
        }
    }
    &-microphonesearch{
        position: absolute;
        margin-left: 790px;
        width:24px;
        height:24px;
        background: url("https://yastatic.net/s3/home-static/_/o/p/gUBBX8WZqmSesz-PjnRuK7msk.svg");
        background-size: cover;
        transition: .2s;
        opacity: .2;
        z-index: 100;
        &:hover{
            opacity: .3;
            cursor: pointer;
        }
    }
    &-keyboard{
        position: absolute;
        margin-left: 820px;
        width:27px;
        height:12px;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='12'%3E%3Cpath opacity='.3' fill-rule='evenodd' clip-rule='evenodd' d='M25.693 0h-24.153c-1.104 0-1.527.422-1.527 1.527v8.961c0 1.105.423 1.527 1.527 1.527h24.153c1.104 0 1.307-.422 1.307-1.527v-8.961c0-1.105-.202-1.527-1.307-1.527zm-2.672 2.061h1.935v1.934h-1.935v-1.934zm-6 0h1.935v1.934h-1.935v-1.934zm2.935 3v1.934h-1.935v-1.934h1.935zm-5.935-3h1.935v1.934h-1.935v-1.934zm2.935 3v1.934h-1.935v-1.934h1.935zm-5.935-3h1.935v1.934h-1.935v-1.934zm2.935 3v1.934h-1.935v-1.934h1.935zm-5.935-3h1.935v1.934h-1.935v-1.934zm2.935 3v1.934h-1.935v-1.934h1.935zm-5.935-3h1.935v1.934h-1.935v-1.934zm-3 0h1.935v1.934h-1.935v-1.934zm0 3h2.994v1.934h-2.994v-1.934zm3.95 4.933h-3.978v-1.933h3.978v1.933zm.05-4.933h1.935v1.934h-1.935v-1.934zm13.95 4.933h-12.963v-1.933h12.963v1.933zm.05-7.933h1.935v1.934h-1.935v-1.934zm4.95 7.933h-3.978v-1.933h3.978v1.933zm.029-2.999h-3.979v-1.934h3.979v1.934z'/%3E%3C/svg%3E");
        background-size: cover;
        transition: .2s;
        opacity: .2;
        z-index: 100;
        &:hover{
            opacity: .3;
            cursor: pointer;
        }
    }
    &-dzen{
        width:20px;
        height:20px;
        background: url("https://yastatic.net/s3/home/feed/services/icons/zen1.svg") no-repeat;
        background-size: cover;
        transition: .2s;
        &:hover{
            cursor: pointer;
            &:before{
                background:rgba(0,0,0,.3);
            }
        }
        &:before{
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            transition: background-color .15s ease-out;
        }
    }
}