.marker{
    &-close{
        transition:.5s;
        position:absolute;
        right: 2px;
        width: 24px;
        height: 24px;
        background-image: url("https://yastatic.net/s3/home-static/_/o/y/erkqQ5P80bv3XwdxBDlYb5shs.svg");
        background-size: cover;
        opacity: 0;
    }
}