.newsweathertrafficblock{
    &__newsweatherblock{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
    }
    &__newsblock{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    &__weathertrafficblock{
        width:35%;
        display: flex;
        flex-direction: column;
        gap:10px;
    }
}