.services{
    &__element{
        display: flex;
        flex-direction:column;
        transition: .2s;
        box-sizing: border-box;
        justify-content:space-between;
        align-items: center;
        gap:2px;
        &:hover{
            cursor: pointer;
            &>.marker-apps{
                margin-top: -5px;
            }
        }
    }
}